@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    font-size: 18.5px;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer components {
  /* eomji picker */
  .EmojiPickerReact.EmojiPickerReact.epr-dark-theme {
    @apply text-sm font-normal;

    --epr-bg-color: hsl(var(--background));
    --epr-category-label-bg-color: transparent;
    --epr-picker-border-color: hsl(var(--border));
    --epr-search-border-color: hsl(var(--border));

    --epr-dark: hsl(var(--background));
    --epr-search-input-bg-color: var(--epr-dark);
    --epr-search-input-bg-color-active: var(--epr-dark);
    --epr-emoji-variation-picker-bg-color: var(--epr-dark);

    --epr-highlight-color: silver;
    --epr-text-color: var(--epr-highlight-color);

    --epr-hover-bg-color: #363636;
    --epr-focus-bg-color: #474747;

    --epr-emoji-variation-indicator-color: #444;
    --epr-category-icon-active-color: hsl(var(--foreground));
    --epr-skin-tone-picker-menu-color: #222222;
  }

  /* upcoming activity container */
  .upcoming-activity-container {
    @apply grid;

    --uai-container-padding: 1.5rem;
    --uai-gap-size: 0.4rem;
    --uai-base-padding: 0.4rem;
    --uai-margin-correction-left: 0rem;
    --uai-margin-correction-right: 0rem;

    gap: var(--uai-gap-size);

    grid-template-columns: repeat(5, minmax(0, 1fr));
    @media (min-width: 640px) {
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }
  }
  /* upcoming activity item */
  .upcoming-activity-item {
    @apply relative bg-amber-600/40;

    &.uai-first-in-group {
      @apply rounded-l;
    }
    &.uai-last-in-group {
      @apply rounded-r;
    }

    /* first item in row */
    @media (max-width: 640px) {
      &:nth-child(5n + 1) {
        /* except first in group */
        &:not(.uai-first-in-group) {
          --uai-margin-correction-left: var(--uai-container-padding);
        }
      }
      &:not(.uai-last-in-group) {
        --uai-margin-correction-right: var(--uai-gap-size);
      }
    }
    @media (min-width: 640px) {
      &:nth-child(6n + 1) {
        /* except first in group */
        &:not(.uai-first-in-group) {
          --uai-margin-correction-left: var(--uai-container-padding);
        }
      }
      &:not(.uai-last-in-group) {
        --uai-margin-correction-right: var(--uai-gap-size);
      }
    }

    /* last item in row */
    @media (max-width: 640px) {
      &:nth-child(5n) {
        /* except last in group */
        &:not(.uai-last-in-group) {
          --uai-margin-correction-right: var(--uai-container-padding);
        }
      }
    }
    @media (min-width: 640px) {
      &:nth-child(6n) {
        /* except last in group */
        &:not(.uai-last-in-group) {
          --uai-margin-correction-right: var(--uai-container-padding);
        }
      }
    }
    /* extend over gap on X axis to the right */
    &:not(.uai-last-in-group) {
      /* @apply w-[calc(100%+0.5rem)] mr-[-0.5rem]; */
    }

    width: calc(
      100% + var(--uai-margin-correction-left) +
        var(--uai-margin-correction-right)
    );
    padding-top: calc(var(--uai-base-padding));
    padding-bottom: calc(var(--uai-base-padding));
    padding-left: calc(
      var(--uai-base-padding) + var(--uai-margin-correction-left)
    );
    padding-right: calc(
      var(--uai-base-padding) + var(--uai-margin-correction-right)
    );
    margin-left: calc(var(--uai-margin-correction-left) * -1);
    margin-right: calc(var(--uai-margin-correction-right) * -1);
  }

  /* handle gap fill width adjustment for first item in row */
  /* .upcoming-activity-item:nth-child(6n + 1):not(
      .uai-first-in-group
    ).upcoming-activity-item:not(.uai-last-in-group) {
    @apply w-[calc(100%+1.5rem+0.5rem)] pl-[calc(1.5rem+0.5rem)] ml-[-1.5rem];
  } */
  /* handle gap fill width adjustment for last item in row */
  /* .upcoming-activity-item:nth-child(6n):not(
      .uai-last-in-group
    ).upcoming-activity-item:not(.uai-first-in-group) {
    @apply w-[calc(100%+1.5rem)] pr-[calc(1.5rem)] mr-[-1.5rem];
  } */
  /* handle gap fill width adjustment for last item in group */
  /* .upcoming-activity-item.uai-last-in-group:not(.uai-first-in-group) {
    @apply w-[calc(100%+1.5rem)] pr-[calc(1.5rem)] mr-[-1.5rem];
  } */
}
